.footer {
  flex: 0 0 auto;
  padding: 14px 30px;
  font-weight: 300;
  font-size: 18px;
  line-height: 21px;
  color: rgba(0, 0, 0, .87);

  &__wrapper {
    span {
      margin-right: 30px;
    }
    a {
      margin-right: 30px;
    }
  }
}
