.header {
  padding: 22px 0 12px;
  background-color: #fffdfd;
  box-shadow: 0 4px 4px rgb(0 0 0 / 12%);
  &__wrapper {
    margin: 0 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__logo {
    img {
      width: 100%;
      max-width: 171px;
      padding: 2px;
    }
  }

  &__item {
    color: rgba(0, 0, 0, 0.87);
    display: grid;
    img {
      max-width: 17px;
      padding: 2px;
      padding-bottom: 0;
    }
  }
}
