.header {
  padding: 22px 0 12px;
  background-color: #fffdfd;
  box-shadow: 0 4px 4px rgba(0, 0, 0, .12);

  &__wrapper {
    width: calc(100% - 60px);
    max-width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__logo {
    img {
      width: 100%;
      max-width: 171px;
    }
  }

  &__ip-address {
    font-size: 18px;
    line-height: 21px;
    color: rgba(0, 0, 0, 0.87);
  }
}