.menu-sidebar {
  width: 100%;
  position: absolute;
  max-width: 300px;
  margin: 0;
  background: #fff;
  box-shadow: 0 9px 18px rgb(0 0 0 / 18%);
  border-radius: 2px;
  overflow: hidden;

  .menu-list {
    @include clearlist;
  }

  .menu-item {
    border-bottom: 1px solid #e0e0e0;
    transition: .3s all;

    &.active {
      background-color: $menu-active-color;

      .menu-item__icon {
        path {
          fill: $menu-icon-hover-color;
        }
      }

      .menu-item__title {
        color: rgba(255, 255, 255, .87);
      }

      .menu-item__desc {
        color: rgba(255, 255, 255, .5438)
      }

      &:hover {
        background-color: $menu-active-hover-color;

        .menu-item__icon {
          path {
            fill: $menu-icon-hover-color;
          }
        }

        .menu-item__title {
          color: rgba(255, 255, 255, .87);
        }

        .menu-item__desc {
          color: rgba(255, 255, 255, .5438)
        }
      }
    }

    &:hover {
      background-color: $menu-item-hover-block-color;
      transition: .3s all;

      .menu-item__icon {
        path {
          fill: $menu-item-light-color;
        }
      }

      .menu-item__title {
        color: $menu-item-hover-title-color;
      }

      .menu-item__desc {
        color: $menu-item-light-color
      }
    }

    &__link {
      min-height: 94px;
      display: flex;
      align-items: center;
      text-decoration: none;
    }

    &__icon {
      flex: none;
      margin-left: 20px;
      path {
        fill: $menu-item-light-color;
      }
    }

    &__content {
      width: 100%;
    }

    &__title {
      font-size: 18px;
      color: rgba(0, 0, 0, .87);
      padding: 30px;
    }
  }
}
