<div class="main-content">
    <form action="" class="main-content__form">
        <div class="main-input__wrapper">
            <input type="text" placeholder="Еnter IP address or host name" class="main-input">
            <button type="submit" class="main-btn"></button>
        </div>
    </form>

    <div class="output-content js-output-content">
        <h2>Output</h2>

        <table>
            <thead>
            <tr>
                <th>count ttl</th>
                <th>(hops) rtt (ms)</th>
                <th>from</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>1</td>
                <td class="pdl-20">TimedOut</td>
                <td></td>
            </tr>
            <tr>
                <td>2</td>
                <td class="pdl-20">TimedOut</td>
                <td></td>
            </tr>
            <tr>
                <td>3</td>
                <td class="pdl-20">TimedOut</td>
                <td></td>
            </tr>
            <tr>
                <td>4</td>
                <td class="pdl-20">TimedOut</td>
                <td></td>
            </tr>
            <tr>
                <td>5</td>
                <td class="pdl-20">TimedOut</td>
                <td></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>